*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Noto Sans SC', sans-serif;
}
.navbar{
    position: fixed;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin-top: 0px;
    will-change: transform;
    width: 100%;
    height: 60px;
    
 
    z-index: 10;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    align-items: center;
    z-index: 10px;
    
    background: radial-gradient(#fff,#938FE8);

}
.logo img{
    width: 80px;
    height: 60px;;

}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
} 
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #555;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background: radial-gradient(#fff,#938FE8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.container{
    max-width: 1900px;
    
    margin: auto;
    padding-left:25px ;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    padding-top: 90px;
    max-width: 75%;
    max-height: 50%;
    padding-right: 50px 0;
}
.navbar img:hover{
    cursor: pointer;;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
     margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #FF36AB;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
    
}
.header{
    background: radial-gradient(#fff,#938FE8);
}
.header .row{
    margin-top: 0px;
}



.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1920px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    max-height: 500px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 200px;
    margin-bottom: 10px;
    
    height: 250px;
}
.title{
    text-align: center;
    margin: 0  auto 80px ;
    position: relative;
    line-height: 60px;
    color:#555 ;
}
.title::after{
    content: '';
    background: #9000B3;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight:normal ;

}
.col-4 p{
   font-size: 14px;  
}
.rating .fa{
    color: #9000B3;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#938FE8);
    margin-top: 80px;
    padding: 10px 0;
}
.col-2 .offerimg{
    padding: 50px;
}
small{
    color: #555;
}




.testimonial{
 padding-top: 100px;
}
.testimonial .col-4{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;

}
.testimonial .col-4 img{
    width: 70px;
    margin-top: 20px;
    border-radius: 50%;
    height: 100px;
}
.testimonial .col-4:hover{
    transform: translateY(-10px) ;
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #9000B3;
}
.col-4 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-4 h3{
    font-weight: 600 ;
    color: #555;
    font-size: 16px;
}

.brands{
    margin: 100px auto;

}
.col-5{
    width: 150px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    
}





.footer{
    min-width: 1080px;
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px ;

}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;

    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 10px;
}
.app-logo img{
    width: 140px;
}
.footer-col-2 .img{
    max-width: 250px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}