{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website\stylesheet.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src= "{% static 'img/P chota.png' %}" alt="this is logo">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home  </a></li>
            
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'signup' %}">Singup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
        </nav>
        <img src="{% static 'img/cart.png'%}" width="30px" height="30px" alt="cart">
    </div>

    <div class="header">
        
   
    
    
        
            <h1> <br> About Us </h1>
           
    <div class="gcse-search"></div>
           
      
</div>

<!-------Latest edition------->
    <div class="small-container">
        <h2 class="title">About Us </h2>
        <div class="row">
            <div class="col-2">
                <img src="{% static 'img/P.png' %}" width= "450px" height="450px" alt="">
            </div>
            <div class="col-2">
                <p>HEY,
                    Since you are here so let’s tell you something about this very website.
                    I know it’s hard sometimes to find the best prices when you are unto purchasing something let it be from stores in person or at some e-commerce website for that matter.
                    Oh, wait even at times when you are in a hurry, we do not want you to make the expensive decision where you end up repenting later that had you surfed a bit more you could have saved a hefty amount. So, when it comes to buying stuff, we help you to find the best price available online for that very commodity. Surfing across famous e-commerce websites and the best deals they offer, we get you the deal that is most suitable to your pocket. 
                    And as it is said money well spent is money earnt. Thus, we say ‘A Price so good it feels like a Prize’.
                    
                    </p>
            </div>
          
           
            
        </div>
        
        
            

<!-------Brands------->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="{% static 'img/flip.jpg' %}" alt="">
            </div>
            <div class="col-5">
                <img src="{% static 'img/amazon.jpeg' %}" alt="">
            </div>
            <div class="col-5">
                <img src="{% static 'img/ebay.jpg' %}" alt="">
            </div>
            <div class="col-5">
                <img src="{% static 'img/logo4.png' %}" alt="">
            </div>
            <div class="col-5">
                <img src="{% static 'img/myntra.jpg' %}" alt="">
            </div>
           
        </div>
    </div>
</div>
<!-------footer------->
<div class="footer">
    <div class="containter">
        <div class="row">
            <div class="footer-col-1">
               <h3> Download Our App</h3>
                <p> Download App for Android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="{% static 'img/play-store.png' %}" alt="">
                    <img src="{% static 'img/app-store.png' %}" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="{% static 'img/P2.png' %}" alt="">
                 <p> Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many</p>
             </div>
             <div class="footer-col-3">
                <h3> Useful Lnks</h3>
                <ul>
                    <li>Coupons </li>
                    <li> Blog Post</li>
                    <li>Return Policy </li>
                    <li>Join Affiliate </li>
                </ul>
                 
             </div>
             <div class="footer-col-4">
                <h3> Follow us</h3>
                <ul>
                    <li>Facebook </li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
                 
             </div>
        </div>
        <hr>
        <p class="copyright"> &#169; Copyright 2021 -Nidhi Bhasker</p>
    </div>
</div>
</body>
</html>